
import <base href="base.html" class="html">

{% extends 'core/base.html' %}

{% block content %}
<h1 class="mb-6 text-xl">Welcome to Conact, the ultimate platform for seamless, real-time communication! Using cutting-edge WebSocket technology, 
    Conact connects you with people around the globe, allowing you to communicate effortlessly in dynamic chat rooms.</h1>

    <h2 class="mb-6 text-l">
         
        Why Choose Conact?
        <p></p>
        
   
        
       1. Instant Connectivity: Experience lightning-fast messaging with our WebSocket-powered platform, ensuring your conversations are as real-time as possible. <br>
       2. Flexible Chat Rooms: Create and join chat rooms tailored to your interests, whether it’s for professional collaboration, socializing with friends, or exploring new hobbies. <br>
       3. Community Focused: Engage in meaningful conversations with like-minded individuals and expand your network in a vibrant, diverse community.<br>
       4. User-Friendly Interface: Navigate through Conact with ease thanks to our intuitive design, making your communication experience smooth and enjoyable. <br>
       5. Secure and Reliable: Your privacy is our priority. Conact employs robust security measures to protect your data and ensure a safe chatting environment. </h2>
{% endblock %}