{% load static %}

<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.css' %}">
    </head>

    <body>
        <div class="p-2 w-full "
        style="background-image: url('static/images/background.png'); background-size: cover;">
            <nav class="p-6 bg-black text-white flex justify-between items-center rounded-xl">
                <span class="flex items-center">
                  <img src="static/images/envelope.png" alt="Contact" class="h-10 mr-2 bg-white">  <a href="{% url 'core:index' %}" class="text-xl flex items-center">Conact</a>
                </span>
              
                <div class="flex items-center space-x-4">
                    <a href="{% url 'core:index' %}">Home</a>
                    <a href="{% url 'core:about' %}">About</a>

                    {% if request.user.is_authenticated %}
                        <a href="{% url 'chat:admin' %}" class="inline-block py-4 px-6 bg-blue-800 text-white rounded-xl">Chat admin</a>
                    {% endif %}
                  
                </div>
                <script>
                    var icon = document.getElementById("icon");
                    icon.onclick = function(){
                        document.body.classList.toggle("dark");
                        console.log("Dark mode toggled");
                    }
                </script>
                
        
            </nav>

            <main class="max-w-6xl mx-auto p-6">
                {% if messages %}
                    <div class="message mb-6 p-6 bg-gray-800 text-white rounded-xl">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                {% block content %}
                {% endblock %}
            </main>
        </div>

        <footer class="py-12 px-6 bg-gray-800 text-white text-center text-xs">
            <p>Copyright (c) 2024- Conact</p>
        </footer>

        {% block scripts %}
        {% endblock %}

         
    </body>
</html>